.box {
    width:60%;
    height:60%;
    border:2px solid #000;
    margin:0 20% 0 20%;
    text-align: center;
}

#nav {
    height: 2%;
    margin-bottom: 1%;
}
#upload{
    margin-top: 2%;
    justify-content: center;
}
#images{

    margin:1% 0 1% 13%;
}
.form-group{
    text-align: center;
}
#upload{
    width: 100%;
}