<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='../static/bootstrap.min.css'>
    <link rel='stylesheet' href='../static/styles.css'>
    <title>X Editor</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg" id = "nav">
        <a class="navbar-brand" href="#">X Editor</a>
    </nav>
    <div class='box' >This is where images go!</div>

</body>

</html>